 <h2>Custom Fields</h2>
  <ul>
    <% @user.custom_fields.each do |custom_field| %>
      <li>
        <strong><%= custom_field.field_name %>:</strong> <%= custom_field.default_value %> 
        <% if current_user == @user %>
          <%= link_to 'Edit', edit_user_custom_field_path(@user, custom_field) %>
          <%= button_to 'Delete', user_custom_field_path(@user, custom_field), method: :delete, form: { data: { turbo_confirm: 'Are you sure?'}} %>
        <% end %>
      </li>
    <% end %>
  </ul>